<% if @answer.errors.present? %>
  $('#new_answer .errors').replaceWith('')
  $('#new_answer form').prepend('<div class="errors"><%= j render "common/error", resource: @answer %></div>')
<% else %>
  $('#answer_body').val('')
  $('#new_answer .errors').replaceWith('')
  $('#answers').append('<%= j render @answer %>')
<% end %>
